.footer {
    background-color: #466466;
    padding: 40px 0;
    color: #e4e5e3; /* Color de las letras */
    position: relative; /* Para posicionar el isotipo */
  }
  
  .footer h5 {
    color: #e4e5e3;
  }
  
  .footer ul.list-unstyled {
    padding-left: 0;
  }
  
  .footer ul li {
    margin-bottom: 10px;
  }
  
  .footer ul li a {
    color: #464645;
  }
  
  .footer ul.list-inline {
    padding-left: 0;
  }
  
  .footer ul.list-inline li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .footer ul.list-inline li:last-child {
    margin-right: 0;
  }
  
  .footer-brand {
    position: absolute; /* Para posicionar el isotipo */
    bottom: 10px; /* Ajuste vertical */
    right: 10px; /* Ajuste horizontal */
    max-width: 150px; /* Tamaño máximo del isotipo */
    margin-bottom: 3%;
  }
  