//----------- ESTILOS GENERALES ------------
body {
  background-color: #f4f4f4;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 105vh; /* Establece la altura del body al 100% de la ventana del navegador */}

@media (max-width: 768px) {
  body {
    height: auto; /* Elimina la altura fija */
    padding: 20px; /* Añade un espacio interno al cuerpo para evitar que el contenido toque los bordes */
  }

  .container {
    max-width: 100%; /* Hace que el contenedor ocupe el ancho completo */
  }

  h2 {
    font-size: 2rem; /* Reduce el tamaño del título */
  }

  h4 {
    font-size: 0.9rem; /* Reduce el tamaño del subtítulo */
  }

  .btn {
    margin-top: 15px; /* Reduce el margen superior del botón */
  }
}


//----------- ESTILOS DE TITULOS ------------
h2 {
  text-align: center;
  font-size: 3rem;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  margin-top: -5%;
  color:#484848;
}
h4 {
  text-align: center;
  letter-spacing: 0.2rem;
  font-size: 1rem;
  font-family: 'Times New Roman', Times, serif;
  background-color: #466466;
  color: #e4e5e3;
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 2%;
}
h5{
  text-align: justify;
  font-size: 2rem;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  margin-top: 0%;

  color:#484848;

}


//----------- TAMANIO DEL FORMULARIO INCLUYE TODO   ------------
.container {
  max-width: 80%;
  margin-top: 10%;
}



//----------- ESTILOS PARA LAS CAJITAS DE NOMBRE, APELLIDO ETC  ------------
.form-control {

  border: none;
  border-bottom: 2px solid #466466;
  border-radius: 0;
  padding-left: 10px;
  background-color:#e4e5e3;
  color: #e4e5e3;
  transition: border-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Sombra ligera */
}
.form-control:focus {
  border-color: #8c8c8c;
  box-shadow: none;
}


//----------- ESTILOS PARA LA IMAGEN DE FONDO   ------------
.form-box {
  border: 2px solid #466466;
  background-color: rgba(70, 100, 102, 0.3); /* Añade transparencia al color de fondo */
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  padding: 50px;
}

.form-group {
  margin-top: 20px;  
  color: #466466;
  font-weight: bold;
}


//----------- ESTILOS PARA LAS PREFERENCIAS  ------------
.form-group.preferencias {
color: #484848;
font-weight: lighter;
}



//----------- BOTON DE REGISTRO  ------------
.btn {
  background-color: #466466;
  color: #e4e5e3;
  border-radius: 10px;
  width: 100%;

  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #e4e5e3;
}

